<center>
  <form action="/post" method="post">
    PROFILE PICTURE<input type="image" name="profilepic">
    STUDENT NAME:<INPUT type="text" name="studentname"><br>
    FATHER NAME:<INPUT type="text" name="fathername"><br>
    PHONE NUMBER:<input type="text" name="phonenumber"><br>
    EMAIL ID:<input type="text" name="email">


  </form>



</center>
